/*
	.css code listing
*/

/*
	Reset of the styles
*/

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: Comic Sans MS, Arial, sans-serif;
	}

header {
	margin: 0;
	padding: 5px;
	flex-basis: 100%;
	background-color: #C2C2C2;
	text-align: left;
	}

header h1 {
	margin: 0;
	font-weight: normal;
	padding-top: 10px;
	}

nav {
	flex-grow: 2;
	padding: 5px;
	background-color: #E0E0E0;
	}

nav ul {
	padding: 10px;
	}

nav ul {
	list-style: none;
	color: blue;
	}

nav ul li a {
	text-decoration: none;
	}

article {
	flex-grow: 3;
	flex-basis: 50%;
	background-color: #CAC8AE;
	padding: 5px 10px;
	}

aside {
	text-align: left;
	background-color: #E6E6E6;
	flex-grow: 1;
	}

aside h3 {
	padding: 15px;
	font-weight: bold;
	font-size: 1.5em;
	}

section {
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 8px;
	margin: 8px; 
	}

section h3 {
	margin: 0 0 1em 0;
	text-align: center;
	}

section img {
	float: left;
	padding: 15px;
	}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	}

footer {
	flex-basis: 100%;
	margin-top: 0;
	background-color: #C2C2C2; 
	}

footer h1 {
	font-weight: normal;
	margin: 0;
	padding: 10px;
	}

/*
	Images size
*/
img {
	width: 15%;
	}

.nav-trigger {
	position: absolute;
	clip: rect( 0, 0, 0, 0 );
	}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	height: 100%;
	width: 100%;
	}

/*
	Add mediaquares
*/

/* 
	Resolution 1024px
*/

@media only all and ( max-width: 1024px ) {
	header {
		flex-basis: 100%;
		margin: 0;
		padding: 10px;
		text-align: left;
	}
}

@media only all and ( max-width: 760px ) {
	header {
		flex-basis: 100%;
		margin: 0;
		padding: 10px;
		text-align: left;
		}

	article {
		flex-grow: 3;
		flex-basis: 100%;
		padding: 0 15px;
		}

	nav ul li {
		display: inline-block;
		padding: 10px;
		}

	nav ul {
		list-style-type: none;
		}
}

@media only all and ( max-width: 640px ) {
	.wrapper header {
		order: 1;
		}

	.wrapper div, nav {
		order: 2;
		}

	.wrapper div, article {
		order: 4;
		}

	.wrapper div, aside {
		order: 3;
		}

	.wrapper footer {
		order: 5;
		}

	header {
		flex-basis: 100%;
		margin: 0;
		padding: 10px;
		text-align: left;
		}

	aside {
		flex-grow: 3;
		flex-basis: 100%;
		}

	article {
		flex-grow: 3;
		flex-basis: 100%;
		padding: 0 15px;
		}

	nav ul li{
		display: inline-block;
		padding: 10px;
		}

	nav ul {
		list-style-type: none;
		}
}

@media only all and ( max-width: 480px ) {
	header {
		width: 100%;
		position: relative;
		z-index: 1;
		}

	aside {
		position: relative;
		z-index: 1;
		}

	article {
		position: relative;
		z-index: 1;
		}

	.wrapper {
		min-height: 100%;
		min-width: 415px;
		position: relative;
		top: 0;
		bottom: 100%;
		left: 0;
		z-index: 3;
		}

	.nav-trigger {
		position: absolute;
		clip: rect( 0, 0, 0, 0 );
		}

	label[ for="nav-trigger" ] {
		position: absolute;
		right: 15px; 
		top: 15px;
		z-index: 4;
		height: 30px;
		width: 30px;
		cursor: pointer;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='25' height='6'/><rect y='20' width='25' height='6'/><rect y='10' width='25' height='6'/></svg>");
		background-size: contain;
		}

	.nav-trigger:checked ~ .wrapper {
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
		top: 67px;
	}

	.nav {
		min-width: 415px;
		margin: 0;
		width: 100%;
		height: 57px;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		list-style: none;

		/*
			Add linear gradient for navigate menu
		*/
		background-image: linear-gradient( 135deg, 
                      rgb( 209, 207, 187 ) 0%,
                      rgb( 202, 200, 174 ) 35%,
                      rgb( 193, 190, 151 ) 100% );
		}

	nav {
		padding: 0;
		}
}